{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}" />

<h1> Latest Questions </h1>
{% if latest_question_list %}
	<table>
		<thead>
			<th class="hboxx"><a class="hboxx" href="?order_by=question_text"> Questions </a></th>
			<th class="hboxx"><a class="hboxx" href="?order_by=pub_date"> Published recently? </a></th>
			<th class="hboxx"><a class="hboxx" href="?order_by=votes"> Votes </a></th>
		</thead>
		<tbody>
		{% for question, votes in latest_question_list %}
			<tr>
				<td class="mboxx"><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
				<td class="centerboxx">
					{% if question.was_published_recently %} 
						<img src="{% static 'polls/img/icon-yes.gif' %}" alt="True"> 
					{% else %} 
						<img src="{% static 'polls/img/icon-no.gif' %}" alt="True"> 
					{% endif %}
				</td>
				<td class="centerboxx">{{ votes }}</td>
			</tr>
		{% endfor %}
		</tbody>
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}